Flask>=2.2.5,<3.0
flask-cors
google-cloud-storage
torch==2.2.2
torchaudio==2.2.2
librosa==0.10.0
soundfile==0.12.1
numpy==1.22.0
psutil
requests
scipy
git+https://github.com/coqui-ai/TTS.git@v0.22.0
gunicorn
